.messages-wrap.span8.offset2
  .messages-header
    %h2.messages-title
      New private message
  .reply-box
    .reply-box-inner
      .reply-form
        =semantic_form_for(@message) do |form|
          =form.input :recipient_ids, :as => :select, :multiple => true, :collection => Message.valid_recipients_for_user(current_user), :input_html => { :class => 'span7', :'data-placeholder' => 'To'}, :label => false, :placeholder => 'To'
          =form.input :text, :label => false, :title => 'Reply', :input_html => {:rows => 6, :placeholder => 'Write a message...', :class => 'reply-field span8'}
          =form.input :message_thread_id, :as => :hidden
          =form.commit_button 'Send', :button_html => {:class => 'btn message-reply-btn', :'data-loading-text' => 'Sending...'}
