%li
  =link_to thread, :class=>"message-list-item #{unread_class(thread, current_user)}" do
    .message-summary-inner
      .message-user-photo
        =image_for(thread.user_for_last_message(current_user), "60x60#")
      %h3.message-user-name
        =user_names(thread)
      %p.message-summary
        -if thread.messages.last.user == current_user
          &larr;
        =strip_tags(thread.messages.last.text.truncate(65))
    %p.message-time
      =time_ago_in_words(thread.messages.last.created_at)
      ago
